.page {
  max-width: $desktop;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  padding: 0 calc(100vw - #{$tablet});
  h1 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    color: $white;
  }
}

@media screen and (min-width: $desktop) {
  .page {
    padding: 0 calc(100vw - #{$desktop});
  }
}

@media screen and (min-width: $largeDesktop) {
  .page {
    padding: 0 calc(100vw - 75rem);
  }
}
