.page {
  @include horizontal-spacing();
  max-width: $desktop;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  h1 {
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    color: $white;
  }
}
