$tilePadding: 16rem;
$tileMobilePadding: 2rem;
$tileCardPadding: 8rem;
$tileCardMobilePadding: 2rem;

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--red {
    background: $brandPrimary;
  }
  &--blue {
    background: $brandSecondary;
  }
  &--light-blue {
    background: $brandTertiary;
  }

  &__content {
    width: calc(100% - #{2 * $tileMobilePadding});
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    padding-top: 2rem;
    justify-content: space-between;

    &--card {
      width: calc(80% - #{$tileCardMobilePadding});
      padding: $tileCardMobilePadding;
      padding-top: 2rem;
      margin-top: -1em;
      margin-bottom: -1em;
      background: $white;
      box-shadow: 0 4px 8px rgba(51, 51, 51, 0.35);
    }

    &__right-side-data {
      padding: 5rem 2rem;
      flex: 1;
      width: 40%;
      display: none;
      overflow: hidden;
    }

    &__description {
      width: 100%;
      overflow: hidden;
    }
  }
}

@media screen and (max-width: $tablet) {
  .tile__content__title {
    .title-with-description {
      width: unset;
    }
  }
}
@media screen and (min-width: $tablet) {
  .tile__content {
    width: calc(100% - #{2 * $tilePadding});
    padding: $tilePadding;
    align-items: flex-start;
    &--card {
      width: calc(80% - #{$tileCardPadding});
      padding: $tileCardPadding;
    }
    &__right-side-data {
      display: unset;
    }
  }
}
