$tileHorizontalSpacing: 16rem;
$tileVerticalSpacing: 8rem;
$tileMobilePadding: 2rem;
$tileCardPadding: 8rem;
$tileCardMobilePadding: 2rem;

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;

  &--red {
    background: $brandPrimary;
  }
  &--blue {
    background: $brandSecondary;
  }
  &--light-blue {
    background: $brandTertiary;
  }

  &__content {
    width: calc(100% - #{2 * $tileMobilePadding});
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    padding-top: 2rem;

    &--card {
      width: calc(80% - #{$tileCardMobilePadding});
      padding: $tileCardMobilePadding;
      padding-top: 2rem;
      margin-top: -1em;
      margin-bottom: -1em;
      background: $white;
      box-shadow: 0 4px 8px rgba(51, 51, 51, 0.35);
    }

    &--center {
      text-align: center;
      align-items: center;
      .title-with-description {
        width: 100%;
      }
    }

    &__description {
      width: 100%;
      overflow: hidden;
    }
  }
}

@media screen and (min-width: $tablet) {
  .tile__content {
    width: calc(100% - #{2 * $tileHorizontalSpacing});
    padding: $tileVerticalSpacing $tileHorizontalSpacing;
    align-items: flex-start;
    &--card {
      width: calc(80% - #{$tileCardPadding});
      padding: $tileCardPadding;
    }
    &--center {
      align-items: center;
    }
  }
}
