.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $brandPrimary;
  color: $reverseFontColor;
  text-align: center;
  padding: 1em;

  &__logo {
    margin: 3em;
  }
}
