.our-database {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__graph {
    width: 30em;
    overflow: hidden;
  }
}
#sites-types {
  color: black;
  font-size: 10px;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
}
#sites-types span {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 3em;
  width: 15em;
  text-align: center;
}
